
<main>

  {{!-- <fieldset class="mids-sp-photo" id="mids"> --}}
    <div class="vp-page">
    {{!-- <img id="image-post-image" src="/{{currentPost.photopath}}" alt="" /> --}}
    <ul class="vp-spaced">
      <li id="vp-title">{{currentPost.title}}</li>
      <li id="vp-author">@{{currentPost.username}}</li>
      <li id="vp-date">{{currentPost.created}}</li>
      <li  id="vp-desc">{{currentPost.description}}</li>
  
        

      
        {{!-- <embed loop="true" src="sound.wav" hidden="true" type="video/quicktime"></embed> --}}
        
      
    </ul>
    </div>
</main>
